@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Inscriptional+Parthian&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: "Noto Sans Inscriptional Parthian", sans-serif;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(32, 32, 54);
  width: 100%;
}

#header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#logo {
  width: 3rem;
}

#grid-settings {
  width: 3rem;
  margin: 0 0 0 1rem;
  transition: transform 0.4s ease-in-out;
}

#grid-settings:hover {
  cursor: pointer;
  transform: rotate(60deg);
  transition: transform 0.4s ease-in-out;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.cell {
  min-width: 88px;
  min-height: 88px;
  /* border: 1px solid red; */
}

.cell:hover {
  backdrop-filter: brightness(92%);
}
